<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
<!-- 
  <iframe src="https://embed.spotify.com/?uri=spotify:track:2nXm6YLZHGRwgxRv2BfUZ6" width="300" height="80" frameborder="0" allowtransparency="true"></iframe> -->

<!--   <h1>hundredth seconds</h1>
  <h1>{{hundredthSecond}}</h1>

  <h1>seconds</h1>
  <h1>{{second}}</h1>

  <h1>minutes</h1>
  <h1>{{minute}}</h1>
 -->


  
   <div id="test-chart">
    </div>




<!-- <div id=colorPickerGroup>
    <div id="colorPicker1">
      <color-picker ng-model="colorTest">
      </color-picker>

    </div>

    <div id="colorPicker2">
      <color-picker ng-model="colorTest2">
      </color-picker>

    </div>

    <div id="colorPicker3">
      <color-picker ng-model="colorTest3">
      </color-picker>

    </div>

    </div>



       <button id="selectedColor" type="button" ng-click="testButton()">selected color</button>
 -->

</body>
</html>