<div id="chart" class="container">


    <h1>Artist: {{songGeneralInfo.artist}} ::::::::
   Album: {{songGeneralInfo.album}} ::::::::
  Song: {{songGeneralInfo.song}}</h1> 


  <iframe ng-src="{{someUrl}}" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
 

  <a id="armTrack" ng-click="armTrack()" class="btn btn-primary">Sync</a>

  <a id="saveNewGraph" ng-click="saveNewGraph()" class="btn btn-primary">Save As New</a>

  <a id="saveGraph" ng-click="putEditTrack()" class="btn btn-primary">Save</a>

  <div id="bar-chart">
 
    </div>

    <div ng-show="!openColorPicker"><button class="openColorButton" ui-sref="home.nav.chart3.colorpicker1" type="button" ng-click="toggleColorPicker()">Edit Colors</button></div>

    <div ng-show="openColorPicker">

      <div id="colorPicker01" ui-view></div>

      <div id="colorRadioButtons">

        <a ui-sref="home.nav.chart3.colorpicker1"> <input type="radio" name="color" value="Low Range"  checked>Low Range<br> </a>

        <a ui-sref="home.nav.chart3.colorpicker2">
        <input type="radio" name="color" value="High Range" > High Range<br>
        </a>

        <a ui-sref="home.nav.chart3.colorpicker3">
        <input type="radio" name="color" value="Background"> Background
        </a>

      </div>

    </div>



<!-- <div id="songDetails"> -->

<!-- <ul>
    <li>Acousticness: {{trackAudioFeatures.acousticness}}</li>
    <li>Danceability: {{trackAudioFeatures.danceability}}</li>

    <li>Duration(ms): {{trackAudioFeatures.duration_ms}}</li>
    <li>Energy: {{trackAudioFeatures.energy}}</li>
    <li>Instrumentalness: {{trackAudioFeatures.instrumentalness}}</li>
    <li>Key: {{trackAudioFeatures.key}}</li>
    <li>Liveness: {{trackAudioFeatures.liveness}}</li>
    <li>Loudness: {{trackAudioFeatures.loudness}}</li>
    <li>Tempo: {{trackAudioFeatures.tempo}}</li>
    <li>Time Signature: {{trackAudioFeatures.time_signature}}</li>
    <li>Speechiness: {{trackAudioFeatures.speechiness}}</li>
    <li>Mode: {{trackAudioFeatures.mode}}</li>
    <li>Valence: {{trackAudioFeatures.valence}}</li>
  </ul> -->

</div>

       <!-- <button class="save" type="button" ng-click="save()">Save</button>
       <button class="saveAs" type="button" ng-click="saveAs()">Save As</button> -->

</div>

  