<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
<!--   <link rel="stylesheet" href=""> -->
</head>
<body>

<div id="songDetails">

<ul>
    <li>Acousticness: {{trackAudioFeatures.acousticness}}</li>
    <li>Danceability: {{trackAudioFeatures.danceability}}</li>

    <li>Duration(ms): {{trackAudioFeatures.duration_ms}}</li>
    <li>Energy: {{trackAudioFeatures.energy}}</li>
    <li>Instrumentalness: {{trackAudioFeatures.instrumentalness}}</li>
    <li>Key: {{trackAudioFeatures.key}}</li>
    <li>Liveness: {{trackAudioFeatures.liveness}}</li>
    <li>Loudness: {{trackAudioFeatures.loudness}}</li>
    <li>Tempo: {{trackAudioFeatures.tempo}}</li>
    <li>Time Signature: {{trackAudioFeatures.time_signature}}</li>
    <li>Speechiness: {{trackAudioFeatures.speechiness}}</li>
    <li>Mode: {{trackAudioFeatures.mode}}</li>
    <li>Valence: {{trackAudioFeatures.valence}}</li>
  </ul>

</div>

<div id="chart" class="container">
 <ul>
    <li>Artist: {{songGeneralInfo.artist}}</li>
    <li>Album: {{songGeneralInfo.album}}</li>
  </ul>

  <h2>Song: {{songGeneralInfo.song}}</h2> 

  <!-- <iframe ng-src="https://embed.spotify.com/?{{trackAudioFeatures.uri}}" width="300" height="80" frameborder="0" allowtransparency="true"></iframe> -->
 
  <div id="bar-chart">
 
    </div>


    <div id=colorPickerGroup>
    <div class="colorPicker">
      <color-picker ng-model="colorPicker1">
      </color-picker>
   <!--    <input type="text"
       ng-model="colorTest"
       ng-init="color = '#f05a28'"> -->
    </div>

    <div class="colorPicker">
      <color-picker ng-model="colorPicker2">
      </color-picker>
    <!--   <input type="text"
       ng-model="colorTest2"
       ng-init="color = '#f05a28'"> -->
    </div>

    <div class="colorPicker">
      <color-picker ng-model="colorPicker3">
      </color-picker>
      <!-- <input type="text"
       ng-model="colorTest2"
       ng-init="color = '#f05a28'"> -->
    </div>

    </div>

       <!-- <button class="save" type="button" ng-click="save()">Save</button>
       <button class="saveAs" type="button" ng-click="saveAs()">Save As</button> -->

</div>

  

  
</body>
</html>