<div id="trackImage">

<img src="{{trackImage}}">

<div id="songDetails">

<ul>
    <li>Tempo:{{trackAudioFeatures.tempo}}</li>
    <li>TimeSignature:{{trackAudioFeatures.time_signature}}</li>
    <li>Acousticness:{{trackAudioFeatures.acousticness}}</li>
    <li>Danceability:{{trackAudioFeatures.danceability}}</li>
    <li>Duration(ms):{{trackAudioFeatures.duration_ms}}</li>
    <li>Energy:{{trackAudioFeatures.energy}}</li>
    <li>Instrumentalness:{{trackAudioFeatures.instrumentalness}}</li>
    <li>Key:{{trackAudioFeatures.key}}</li>
    <li>Liveness:{{trackAudioFeatures.liveness}}</li>
    <li>Loudness:{{trackAudioFeatures.loudness}}</li>
    <li>Speechiness:{{trackAudioFeatures.speechiness}}</li>
    <li>Mode:{{trackAudioFeatures.mode}}</li>
    <li>Valence:{{trackAudioFeatures.valence}}</li>
  </ul>

</div>

<div>Loading Track Data...</div>

</div>