<nav ng-controller="NavCtrl">
  <div class="container">
      <h1>Search for an Track</h1>
      <p>Search by artist, album or track.</p>
      <form id="search-form">
          <input type="text" ng-model="searchText" id="query" value="" class="form-control" placeholder="Type an Artist Name"/>
          <input type="submit" ng-click="searchAlbums(searchText)" id="search" class="btn btn-primary" value="Search" />
      </form>

      <a ui-sref="home.nav.data" id="childElementId" ng-Click="clearSearch()">Show Basic Track Data</a>

      <div ui-view></div>
     
      <div id="searchResults" ng-repeat="track in searchResults">
        <div class="searchResult" ng-click="goToTrack(track.id)">
          <img src="{{track.album.images[0].url}}" class="searchPictures">
          Track: {{track.name}}
          Artist: {{track.artists[0].name}}
        </div>
      </div>
  </div>
</nav>