<nav ng-controller="NavCtrl">
  <div class="container" id="nav">
    <div id="navContainer">
      <div ng-show="notLoggedIn" id="notLoggedIn">
      <a ng-click="googleLogin()" class="btn btn-primary">Login with Google</a>
      </div>

      <div ng-show="!notLoggedIn" id="notLoggedIn">
      <a ng-click="googleLogout()" class="btn btn-primary">Logout Of Google</a>
      <a ng-click="getMyTracks()" class="btn btn-primary">Saved Tracks</a>
      </div>
    </div>

      
      <h1>Search for a Track</h1>
      <p>Search by artist, album or track.</p>
      <form id="search-form">
          <input type="text" ng-model="searchText" id="query" value="" class="form-control" placeholder="Type an Artist Name"/>
          <input type="submit" ng-click="searchAlbums(searchText)" id="search" class="btn btn-primary" value="Search" />
      </form>

      <a ui-sref="home.nav.chart2" id="loader" ng-model="loader"ng-Click="clearSearch()">{{loader}}</a>

      <div ui-view></div>

      <div id="searchResults" ng-repeat="track in searchResults">
        <div class="searchResult" ng-click="goToTrack(track.id)">
          <img src="{{track.album.images[0].url}}" class="searchPictures">
          Track: {{track.name}}
          Artist: {{track.artists[0].name}}
        </div>
      </div>

<!-- 
      <div id="savedTracks" ng-repeat="track in myTrackResults">
        <div class="savedTrack" ng-click="goToTrack(track.id)">
          <img src="{{track.album.images[0].url}}" class="searchPictures">
          Track: {{track.name}}
          Artist: {{track.artists[0].name}}
        </div>
      </div>
 -->

      <div id="trackResults" ng-repeat="track in myTrackResults">
        <div class="trackResult" ng-click="goToTrack(track.trackId, track.id, track.customColor1, track.customColor2, track.customColor3)">
          Track: {{track.song}}
          Artist: {{track.artist}}
          Album: {{track.album}}
        </div>

         <a id="deleteTrack" class="btn btn-primary" ng-click="deleteTrack(track.id)">Delete</a>

      </div>



  </div>
</nav>