<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
  
   <div id="test-chart">
 
    </div>


    <div id="colorPicker">
      <color-picker ng-model="colorTest">
      </color-picker>
      <input type="text"
       ng-model="color"
       ng-init="color = '#f05a28'">
    </div>


       <button id="selectedColor" type="button" ng-click="testButton()">selected color</button>


</body>
</html>