/*body {
  background-color: salmon;
  font-size: 16px;
  font-family: "Courier New";
}*/

#loader {
  margin: auto;
}

#nav {
  background-color: #EAE3CB;
}

#data {
  background-color: #A57706;
}

#saveNewGraph {
  display: inline-block;
  float: right;
}

#saveGraph {
  display: inline-block;
  float: right;
}

#armTrack {
  display: inline-block;
  float: right;
}

#title {
  display: inline-block
  float: left;
}

#navContainer {
    display: inline-block;
    float: right;
}

#loginSpotify {
   display: inline;
   float: right;
}

#spotifyLogin {
  height: 50px;
}

#boxSize {
  width: 30px;
}


#colorRadioButtons {
  display: inline-block;
  float: right;
}

#colorPickerGroup {
  display: inline-block;
}

#colorPicker01 {
  display: inline-block;
  width: 50px;
  background-color: black;
}

#colorPicker {
  display: inline-block;
  width: 50px;
}

#colorPicker2 {
  display: inline-block;
}

#colorPicker3 {
  display: inline-block;
}

#chart {
  display: inline-block;
}
}

#songDetails {
  font-size: 14px;
  width: 30px;
  float: right;
  display: inline-block;
  line-height: 1.5;
}

h1 {
  margin-top: 20px;
  font-size: 19px;
}

h2 {
  margin-top: 10px;
  font-size: 15px;
}

.media {
  margin-left: 0x;
}

#padding {
  padding-top: 20px;
}

.searchPictures {
  height: 75px;
}

.searchResult {
  padding-top: 10px;
}

.searchResult:hover { 
    background-color: yellow;
}

#search {
  margin-top: 10px;
}

.highlight  {
  color: #C64C6F;
  font-weight: 600;
}

.item {
  padding-left: 30px;
}

.bigger {
  font-size: 150%;
}

iframe {
    margin-bottom: 5px;
    margin-top: 5px;
}